<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifox.hgx.mybatis.dao.EmployeeMapper">
<!--
    namespace:名称空间,指定为接口的全类名
    resultType:返回类型
    id:唯一标识

    Employee getEmpById(Integer id) ;
-->
    <select id="getEmpById" resultType="com.ifox.hgx.mybatis.entities.Employee">
        select id,last_name lastName,email,gender from tab_employee where id = #{id}
    </select>

</mapper>